{% extends 'core/base.html' %}
{% load static %}
{% block title %}Página{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-2">
        <img src="{% static 'core/img/ale.jpg' %}" class="img-fluid"/>
      </div>
      <div class="col-md-6 mt-3">
        <h3>Acerca de Mi</h3>
        <p>Bienvenidos al blog, Soy alejandro Quiñones, apasionado por la programacion pero con poca inventiva para el diseño de paginas, espero sea de su agrado el blog que pude crear y lo disfruten tanto como yo al hacerlo.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}